.table-responsive {
  overflow-y: visible !important;
}

@media (max-width: 767px) {
  .table-responsive .dropdown-menu {
      position: static !important;
  }
}
@media (min-width: 768px) {
  .table-responsive {
      overflow: inherit;
  }
}
