.title-1{
  font-size: 1.5rem !important;
  font-family: inherit !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
  color: inherit !important;
}


.custom-file-label::after{
  content: "Procurar" !important;
}
