.ajust{
  margin-top: 0.3rem !important;
  margin-right: 4rem !important;
}

.subtitle{
  font-size: 1.05rem !important;
  color: grey !important;
}
.title{
  font-size: 1.1rem !important;
}

.total{
  font-size: 20px !important; 
  color: rgb(224, 86, 32)!important;
}

.sub{
  font-size: 15px !important; 
}
.top-red{
  background-color: #EB4B4D!important;
  color: #ffffff;
}
.top-green{
  background-color: #4bd838!important;
  color: #ffffff;
}

.bg-yellow{
  background-color: #FEEB58 !important;
  color: #000 !important;
}

.icon-white{
  color: #ffffff !important;
}

.btn-orange{
  background: #F07560!important;
  border-color: #F07560!important;
  color: #ffffff!important;
}

.direct-chat-primary .right > .direct-chat-text {
  background: #F07560;
  border-color: #F07560;
  color: #ffffff;
}

.direct-chat-primary .right > .direct-chat-text::after, .direct-chat-primary .right > .direct-chat-text::before {
  border-left-color: #F07560!important;
}

.direct-chat-secondary .right > .direct-chat-text {
  background: #F07560;
  border-color: #F07560;
  color: #ffffff;
}

.direct-chat-secondary .right > .direct-chat-text::after, .direct-chat-secondary .right > .direct-chat-text::before {
  border-left-color: #F07560!important;
}
